
/**
 * @author Hakim El Hattab | http://hakim.se
 */

/**
 * Kort styles start here, everything above is demo-page
 * specific.
 */

.kort {
	-webkit-perspective: 1200px;
	   -moz-perspective: 1200px;
	        perspective: 1200px;

	-webkit-perspective-origin: 50% 50%;
	   -moz-perspective-origin: 50% 50%;
	        perspective-origin: 50% 50%;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

.kort img {
	-webkit-transition: all 0.3s ease;
	        transition: all 0.3s ease;
}

/* DEFAULT TRANSITION */
.kort:hover img,
.kort.touching img  {
	-webkit-transform: translateX( -120px ) rotateY( 60deg ) translateZ(-80px);
	   -moz-transform: translateX( -120px ) rotateY( 60deg ) translateZ(-80px);
	        transform: translateX( -120px ) rotateY( 60deg ) translateZ(-80px);
}

.kort:hover img.present ~ img,
.kort.touching img.present ~ img {
	-webkit-transform: translateX( 164px ) rotateY( 50deg );
	   -moz-transform: translateX( 164px ) rotateY( 50deg );
	        transform: translateX( 164px ) rotateY( 50deg );
}

/* CONCAVE TRANSITION */
.kort.concave:hover img.present ~ img,
.kort.concave.touching img.present ~ img {
	-webkit-transform: translateX( 120px ) rotateY( -60deg ) translateZ(-80px);
	   -moz-transform: translateX( 120px ) rotateY( -60deg ) translateZ(-80px);
	        transform: translateX( 120px ) rotateY( -60deg ) translateZ(-80px);
}

/* STACK TRANSITION */
.kort.stack:hover img,
.kort.stack.touching img  {
	-webkit-transform: translateZ(-180px) rotateY( -60deg );
	   -moz-transform: translateZ(-180px) rotateY( -60deg );
	        transform: translateZ(-180px) rotateY( -60deg );
}

.kort.stack:hover img.present ~ img,
.kort.stack.touching img.present ~ img {
	-webkit-transform: translateX( 164px ) rotateY( 50deg );
	   -moz-transform: translateX( 164px ) rotateY( 50deg );
	        transform: translateX( 164px ) rotateY( 50deg );
}

.kort:hover img.present,
.kort.touching img.present  {
	-webkit-transform: none;
	   -moz-transform: none;
	        transform: none;

	margin: 0!important;
}
​
